//Variables
@import "nib"

//Variables
borderRadius = 4px

//Colors
white(opacity=1)
  rgba(255,255,255,opacity)

black(opacity=1)
  rgba(0,0,0,opacity)

offWhite(opacity=1)
  rgba(245,245,245,opacity)

offerWhite(opacity=1)
  rgba(235,235,235,opacity)

gray(opacity=1)
  rgba(223,223,223,opacity)

offGray(opacity=1)
  rgba(159,159,159,opacity)

offerGray(opacity=1)
  rgba(137,137,137,opacity)

midnight(opacity=1)
  rgba(63,63,63,opacity)

highlight(opacity=1)
  rgba(74,182,235,opacity)

lowlight(opacity=1)
  rgba(66,68,88,opacity)

red(opacity=1)
  rgba(242,116,114,opacity)

green(opacity=1)
  rgba(118,217,158,opacity)

orange(opacity=1)
  rgba(237,128,29,opacity)

offOrange(opacity=1)
  rgba(242,160,76,opacity)

//Sizings
minSize(min-width=initial,min-height=initial)
  if min-width is a 'unit'
    min-width min-width px
  else
    min-width min-width

  if min-height is a 'unit'
    min-height min-height px
  else
    min-height min-height

size(width=auto,height=auto)
  if width is a 'unit'
    width width px
  else
    width width

  if height is a 'unit'
    height height px
  else
    height height

maxSize(max-width=initial,max-height=initial)
  if max-width is a 'unit'
    max-width max-width px
  else
    max-width max-width

  if max-height is a 'unit'
    max-height max-height px
  else
    max-height max-height

//Position
position(position=static,top=auto,right=auto,bottom=auto,left=auto)
  position position

  if top is auto
    top auto
  else
    top top px

  if right is auto
    right auto
  else
    right right px

  if bottom is auto
    bottom auto
  else
    bottom bottom px

  if left is auto
    left auto
  else
    left left px

//Overflow
overflow(x=false,y=x)
  if x
    overflow-x x
  if y
    overflow-y y
  //-webkit-overflow-scroll touch

ellipsis()
  text-overflow ellipsis
  white-space nowrap
  overflow hidden

//Resets
*
  box-sizing border-box
  -webkit-tap-highlight-color transparent
html, body
  margin 0
  padding 0
  height 100%
  min-width 320px
  overflow hidden
body
  font-family "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  font-weight 300
  height 100%
  overflow hidden
  background offWhite()
  border-top 20px solid white()
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  &:after
    content ""
    background white()
    height 20px
    position absolute
    top 0
    right 0
    left 0
    z-index 100
.firstPane
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  -webkit-overflow-scrolling touch
  overflow auto
.secondPane
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  -webkit-overflow-scrolling touch
  overflow auto
.thirdPane
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-box-align stretch
  -webkit-box-flex 1
  margin-bottom -1px
  position relative
form
  margin 0
input
  margin 0
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  //-webkit-appearance none
  margin 0
input:focus,
textarea:focus,
button:focus,
[contenteditable="true"]:focus
  outline none
  //-webkit-appearance none
select
  cursor pointer
  display block
nav,ul,ol
  list-style none
  margin 0
  padding 0
table
  border-spacing 0
tr,th,td
  font-weight normal
  position relative
h1,h2,h3,h4,h5,h6
  padding 0
  margin 0
  font-weight normal
a
  text-decoration none
  text-transform capitalize
  color inherit
  position relative
  cursor pointer
p
  margin 0
.no-touch a:hover,a:active,a[data-active="true"]
  text-decoration none

//Dimensions
headerHeight = 30px
subHeaderHeight = 40px
sidebarWidth = 250px
borderRadius = 4px

//Layout - Icon
.iconWrapper
  position(absolute)
  top 50%
  cursor pointer
  & > *
    fill gray()
    line
      stroke-width 6px
      stroke gray()
  &.top
    top 10px
    bottom auto
  &.right
    right 10px
    left auto
  &.bottom
    top auto
    bottom 10px
  &.left
    right auto
    left 10px
  &.size-8
    size(8,8)
    margin-top -4px
  &.size-16
    size(16,16)
    margin-top -8px
  &.size-24
    size(24,24)
    margin-top -12px
  &.size-48
    size(48,48)
    margin-top -24px
  .icon
    position absolute
    top 0
    right 0
    width 100%
    height 100%

.no-touch .iconWrapper
  &:hover
    & > *
      fill orange(0.75)
      stroke orange(0.75)

.stubImage
  position(absolute,0,0,0,0)
  height 100%
  width 100%
  background-size cover
  background-position 50% 50%
  background-repeat no-repeat

.fullWidth
  width 100%

//Datepicker Styles
.datepicker-dropdown
  background white()
  border 1px solid gray()
  border-radius borderRadius
  position absolute
  margin-top 4px

.number
  //max-width 60px
.percentage
  max-width 30px

//Layout - List
.list
  width 100%
  padding 0
  font-size 12px
  &.inline
    .listItem
      float left
      width auto
      background transparent
      padding 0 10px 0 20px
      line-height 20px
      &:nth-child(odd)
        background transparent
      .iconWrapper
        &.left
          left 0
  .listItem
    margin 0
    font-size inherit
    width 100%
    position relative
    overflow hidden
    padding 10px
    cursor pointer
    &:nth-child(odd)
      background offWhite(0.7)
    &.noTopPadding
      padding-top 0
    .subItem
      float right
      margin-bottom 10px
      &:last-of-type
        margin-bottom 0
  .listLink
    padding 10px
    width 100%
    display inline-block
    color midnight()
    .title
    .subtitle
      padding 0
    &[data-active="true"]
      background orange(0.75)
      color white()
      .title
      .subtitle
        color white()
  .listCheckbox
    display inline-block
    vertical-align middle
    position absolute
    top 50%
    right 12px
    margin-top -6px
  .listLabel
    display block
    vertical-align middle
    font-weight bold
    margin-right 5px
    line-height 20px
    float left
    max-width 85%
    &.normalWeight
      font-weight normal
  .listInput
    background transparent
    border none
    border-radius 0
    padding 0
    line-height 20px
    float left
  .listRadio
    float left
    margin-right 5px
  .listRadioLabel
    float left
  .select
    float left
    margin 0
    margin-right 5px

//List - Hover
.no-touch .list
  &.inline
    .listItem
      &:hover
        color orange(0.75)
        .iconWrapper
          &>*
            fill orange(0.75)
            stroke orange(0.75)
  .listLink
    &:hover
      background orange(0.75)
      color white()
      .title
      .subtitle
        color white()
      .iconWrapper
        &>*
          fill white()
          stroke white()

.no-touch .pane
  .list
    .listItem
      &:hover
        .listLink
          background transparent
          color orange(0.75)
          .title
          .subtitle
            color orange(0.75)
          .iconWrapper
            &>*
              fill orange(0.75)
              stroke orange(0.75)

//Layout - Button
.button
  size(auto,40)
  border 1px solid offGray()
  background offGray()
  padding 0 20px 0 20px
  display block
  font-size 12px
  line-height 40px
  text-align center
  color white()
  clear both
  position relative
  cursor pointer
  &.rounded
    border-radius borderRadius

//Layout - Cover
.cover
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index 99999
  background black(0.75)
  transition all 0.25s ease-in-out
  text-align center
  overflow(hidden,auto)
  -webkit-overflow-scrolling touch
  .secondPane
    padding-top 10px
  &[data-hidden="true"]
    opacity 0
    pointer-events none
    transform scale3d(0,0,0)
    .coverContent
      opacity 0
      transform scale3d(0,0,0)
  .coverContent
    background white()
    transition all 0.25s ease-in-out
    min-width 300px
    max-width 300px
    width 100%
    border-radius borderRadius
    display inline-block
    vertical-align middle
    text-align left
    position relative
    color midnight()
    float none
    .title
      clear both
      padding 10px 10px 10px 10px
      position relative
    .content
      position(static)
      padding 10px
    .expanding
      border none
      background transparent
      width 100%

//Cover - Hovers
.no-touch .cover
  .coverContent
    .button-bar
      .button
        &:hover
          background transparent
          color orange(0.75)

//Layout - Table
.table
  font-size 12px
  border-bottom 1px solid gray()
  color midnight()
  width 100%
  .tableLabel
    float left
  .tableInput
    padding 5px
    border-radius borderRadius
    appearance none
    height 100%
    background none
    border none
    padding 0
    text-overflow ellipsis
    white-space nowrap
    line-height 18px
    float left
  .select
    margin 0
  .thead
    .tr
      .td
        padding 5px 10px 5px 10px
        background offWhite()
        border-bottom 1px solid gray()
        .cell
          white-space nowrap
          padding-right 10px
  .tbody
    .tr
      .td
        border-right 1px solid gray()
        border-bottom 1px solid gray()
        position relative
        padding 0
        &.collapse
          .left
            width auto
            right 100px
            border-right 1px solid gray()
          .middle
            left 60%
            right 100px
            width auto
            border-right 1px solid gray()
          .right
            left auto
            width 100px
        .cell
          position relative
          white-space nowrap
          padding 10px
          text-align center
          height 100%
          overflow hidden
          &.double
            text-align left
          .column
            float left
            width 50%
            height inherit
            .tableLabel
              float right
            .select
              float right
          &.permissions
            width 220px
            .item
              line-height 20px
              overflow hidden
              padding-bottom 5px
              &:last-child
                padding-bottom 0
            .tableLabel
              font-style italic
              opacity 0.5
              width 100%
              text-align right
              padding-right 10px
            .select
              margin 0
              margin-top 1px
        .button
          margin 5px
          text-indent 0
        &:last-of-type
          border-right none
      &:last-of-type
        .td
          border-bottom none
  .tfoot
    .tr
      .td
        padding 10px
        border-top 1px solid gray()
        background offerWhite()
        font-weight bold
        .cell
          white-space nowrap
  .iconWrapper
    right 50%
    &.size-16
      margin-right -8px
    & > *
    line
      fill offerGray()
      stroke offerGray()

//Individual Table Cell Styles
.table
  .td[data-zone="1"]
    background rgba(101,2,5,0.3)
  .td[data-zone="2"]
    background rgba(202,8,20,0.3)
  .td[data-zone="3"]
    background rgba(205,44,46,0.3)
  .td[data-zone="4"]
    background rgba(255,253,56,0.3)
  .td[data-zone="5"]
    background rgba(183,214,170,0.3)
  .td[data-zone="6"]
    background rgba(108,167,84,0.3)
  .td[data-zone="7"]
    background rgba(58,117,35,0.3)

//Loading Bar
#iron-router-progress
  background-color orange(0.75)
  box-shadow none

//Layout - Nav
.nav
  height inherit
  position relative
.navItem
  float left
  height inherit
  width auto
  &:last-of-type
    margin 0
.navLink
  color midnight()
  font-family inherit
  font-size 12px
  position relative
  padding 0 10px 0 30px
  height inherit
  cursor pointer
  display block
  &[data-active="true"]
    color orange(0.75)
    .iconWrapper > *
        fill orange(0.75)
        stroke orange(0.75)
        & line
          stroke orange(0.75)

//Nav - Hover
.no-touch .nav
  .navItem
    &> .navLink
      &:hover
        color orange(0.75)
        .iconWrapper > *
            fill orange(0.75)
            stroke orange(0.75)

//Header
.header
  position relative
  z-index 999
  background white()
  border-bottom 1px solid gray()
  height headerHeight
  user-select none
  .nav
    &:first-of-type
      float left
    &:last-of-type
      float right
  .navItem
    min-width 30px
    overflow hidden
  .navLink
    line-height headerHeight

//SubHeader
.subHeader
  background white()
  height subHeaderHeight
  border-bottom 1px solid gray()
  position relative
  z-index 101
  .nav
    left sidebarWidth
  & > *
    user-select none
  &[data-state="closed"]
    transform translate3d(0,-100%,0)
    opacity 0
    pointer-events none
    display none
  .navLink
    border-right 1px solid gray()
    line-height subHeaderHeight
    padding-left 40px
    &[data-active="true"]
      background orange(0.75)
      color white()
      .iconWrapper
        &>*
          fill white()
          stroke white()
    &[data-progress="inactive"]
      color offGray()
      background gray(0.5)
      .iconWrapper
        &>*
          fill offGray()
          stroke offGray()
      &[data-active="true"]
        background offGray()
        color white()
        .iconWrapper
          &>*
            fill white()
            stroke white()

//Hover - SubHeader
.no-touch
  .subHeader
    .navLink
      &[data-active="true"]
        &:hover
          color white()
          .iconWrapper
            & > *
              fill white()
              stroke white()
      &[data-progress="inactive"]
        &:hover
          color offerGray()
          .iconWrapper
            & > *
              fill offerGray()
              stroke offerGray()

//Sidebar Toggle
.sidebarToggle
  position absolute
  top 0
  z-index 100
  height subHeaderHeight
  width 40px
  border-bottom 1px solid gray()
  &[data-state="open"]
    .sidebarNotch
      .iconWrapper
        & > *
          fill orange(0.75)
  &.left
    left 0
    border-right 1px solid gray()
    width sidebarWidth
    &[data-sidebarState="closed"]
      transform translate3d(- sidebarWidth,0,0)
    .sidebarNotch
      left 0
      border-right 1px solid gray()
  &.right
    right 0
    &[data-sidebarState="closed"]
      transform translate3d(sidebarWidth,0,0)
    .sidebarNotch
      right 0
      border-left 1px solid gray()
  .sidebarNotch
    size(40,40)
    position absolute
    user-select none
    .iconWrapper
      left 50%
      margin-left -12px
  .dropdown-list
    margin-left 40px
  .has-dropdown
    margin-right 40px
    .dropdown-label
      display block
      line-height 40px
      padding-right 10px
      padding-left 10px
      cursor pointer
      position relative
    &[data-state="open"]
      .dropdown-label
        color orange(0.75)
        .iconWrapper > *
          fill orange(0.75)
          stroke orange(0.75)
      .dropdown
        display block
    .subtitle
      position(absolute,0,10,auto,auto)
      font-size 10px
      color offGray()
      line-height 35px
    .dropdown
      margin 0 -1px 0 -1px
      background white()
      position(relative)
      top -1px
      z-index 1
      max-height 247px
      overflow(auto)
      -webkit-overflow-scrolling touch
      display none
      border 1px solid gray()
      border-radius 0 0 borderRadius borderRadius

//Hover - Sidebar Toggle
.no-touch .sidebarToggle
  .has-dropdown
    &:hover
      .dropdown-label
        color orange(0.75)
        .iconWrapper
          &>*
            fill orange(0.75)
            stroke orange(0.75)
    .listItem
      &:hover
        color orange(0.75)
        .subtitle
          color orange(0.75)

//Sidebar
.sidebar
  position fixed
  top 90px
  bottom 0
  width sidebarWidth
  background white()
  z-index 100
  -webkit-overflow-scrolling touch
  backface-visibility hidden
  transition transform 300ms linear
  transform translate3d(0,0,0)
  overflow(hidden,auto)
  &[data-sidebartogglestate="closed"]
    top headerHeight
  &.left
    left 0
    border-right 1px solid gray()
    &[data-state="closed"]
      transform translate3d(- sidebarWidth,0,0)
    .list
      .listItem
        padding 0
  &.right
    right 0
    border-left 1px solid gray()
    &[data-state="closed"]
      transform translate3d(sidebarWidth,0,0)
    .list
      .listItem
        padding 10px
  .title
    padding 10px
    position relative
  .subtitle
    padding 5px 10px 5px 10px
    float left
    clear left
    width 100%
    color midnight()
  .progress
    margin-top 0
    margin-right 10px
    margin-bottom 0
    margin-left 10px
  .footer
    .button
      margin-left 10px
      margin-right 10px
      &.left
        width 110px
        float left
        clear none
      &.right
        width 110px
        float left
        clear none
        margin-left 0
        margin-right 0

//Content
.content
  position(fixed,90,0,0,0)
  padding 10px
  overflow auto
  transition right 300ms linear, left 300ms linear
  &[data-toolbarstate="alert"]
    bottom 55px
  &[data-toolbarstate="pending"]
    bottom 105px
  &[data-toolbarstate="waiting"]
    bottom 105px
  &[data-toolbarstate="complete"]
    bottom 105px
  &[data-rightsidebarstate="open"]
    right sidebarWidth
  &[data-leftsidebarstate="open"]
    left sidebarWidth
  &[data-subheaderState="closed"]
    top headerHeight + 20
  &[data-borderState="collapsed"]
    border-radius 0
    border none
  &[data-backgroundState="transparent"]
    background transparent
  .title
    color midnight()
    clear both
    padding 10px 10px 10px 10px
    position relative
    .iconWrapper
      top 50%
    &.borderless
      border none
    .progress
      margin-top 10px
  .subtitle
    color offerGray()
    margin 5px 0 0 0
    padding 0 10px 0 10px
    font-size 12px
    &.inline
      float left
  .form
    padding 0
  .progress
    .subtitle
      margin 0
      font-weight bold

//Toolbar
.toolbar
  height 80px
  padding 10px 10px 10px 50px
  font-size 14px
  cursor pointer
  position fixed
  z-index 999999
  bottom 0
  right 0
  left 0
  transition background 300ms ease-in-out
  &[data-toolbarstate="alert"]
    background red()
    height 55px
  &[data-toolbarstate="pending"]
    //height 134px
    height 105px
    background offOrange()
  &[data-toolbarstate="waiting"]
    //height 150px
    height 105px
    background offOrange()
  &[data-toolbarstate="complete"]
    //height 150px
    height 105px
    background green()
  .iconWrapper
    top 16px
    left 10px
    margin-top 0
    &>*
      fill white()
      stroke white()
  .title
    font-weight bold
    color white()
    border-bottom none
    padding 0
  .subtitle
    padding 0
    color white()
    font-size 12px
    margin-top 0
    opacity 0
    transition opacity 300ms ease-in-out
  .list
    .listItem
      background transparent
      padding-top 5px
      padding 0
    .listLink
      padding 0
      color white(0.75)
    .listLabel
      color white()
      padding-left 0

//Toolbar - Hover
.no-touch .toolbar
  &[data-toolbarstate="alert"]
    &:hover
      background green()
      .subtitle
        opacity 1
  .list
    .listLink
      &:hover
        background transparent

//Layout - Notice
.notice
  background white()
  border-radius borderRadius
  border 1px solid gray()
  position(absolute,10,auto,auto,10)
  padding 10px
  z-index 1
  max-width 300px
  &[data-hidden="true"]
    display none
  .title
    font-size 13px
    font-weight normal
    line-height 20px
    padding 0
    margin 0 0 5px 0
    .iconWrapper
      &.right
        right 0
  .subtitle
    margin 0
    padding 0
    font-size 10px
    font-style italic
    color offerGray()
    position relative
    top -5px
  .message
    font-size 11px
    font-style italic
    color offerGray()
    max-width 90%

//Layout - Progress
.progress
  height 20px
  margin 5px 0 5px 0
  padding 2px
  background offWhite()
  border 1px solid gray()
  position relative
  &.rounded
    border-radius 9999px
    .meter
      border-radius 9999px
  .meter
    height 100%
    background orange(0.75)
  .subtitle
    color midnight()
    font-size 10px
    position(absolute,0,0,0,0)
    line-height 19px
    padding 0 10px 0 10px
    text-align center
    background transparent

//Grouped Bar Chart Styles
.groupedBarChart
  position(relative,auto,auto,auto,auto)
  .axis path
  .axis line
    fill none
    stroke #000
    shape-rendering crispEdges
  .bar
    fill steelblue
  .x
    &.axis
      path
        display none

//Stacked Area Chart Styles
.stackedAreaChart
  .axis path
  .axis line
    fill none
    stroke #000
    shape-rendering crispEdges
  .browser
    text
      text-anchor end

//Layout - Slider
.slider
  height 30px
  .subtitle
    margin 0
    line-height 30px
  .sliderTrack
    border 1px solid gray()
    border-radius 9999px
    background offerWhite()
    height 4px
    min-width 100px
    position relative
    top 12px
    .knob
      background white()
      border 1px solid gray()
      border-radius 9999px
      size(10,10)
      position(absolute,-4,auto,auto,auto)
  input
    size(40,26)
    position(relative,2,auto,auto,auto)
    margin 0 0 0 10px
    border 1px solid gray()
    border-radius borderRadius
    background white()
    padding 5px

//Not Implemented Debug Text
.notImplemented
  position(absolute,20,20,20,20)
  text-align center
  font-size 18px
  background offerGray()
  color offWhite()
  border-radius borderRadius
  .notImplementedText
    size(200,44)
    position absolute
    top 50%
    right 0
    bottom 0
    left 50%
    margin -22px 0 0 -100px

//Upgrade Required
.upgradeRequired
  position(absolute,20,20,20,20)
  text-align center
  font-size 18px
  background offGray()
  color gray()
  border-radius borderRadius
  .upgradeRequiredText
    size(200,44)
    position absolute
    top 50%
    right 0
    bottom 0
    left 50%
    margin -22px 0 0 -100px

//When Screen is 920px less, shrink subheader
@media (max-width: 920px)
  .subHeader
    .navItem
      width 40px
    .navLink
      width 40px
      overflow hidden
      padding-right 0!important
      .iconWrapper
        left 8px

//When Screen is 575px less, shrink header
@media (max-width: 575px)
  .header
    .navItem
      width 30px

//For Non iPhone Screen Interactions
@media (max-width: 540px), (max-device-width: 640px)
  .sidebarToggle
    &.left
      width 40px
  .subHeader
    .nav
      left 40px
    .sidebarToggle.left
      overflow hidden
  .content
    //top 0
    //margin 7px
    //padding 0
    //overflow visible
    &[data-leftSidebarState="open"]
      right -250px
    &[data-rightSidebarState="open"]
      left -250px
    &[data-toolbarstate="alert"]
      bottom 70px
    &[data-toolbarstate="pending"]
      bottom 134px
    &[data-toolbarstate="waiting"]
      bottom 150px
    &[data-toolbarstate="complete"]
      bottom 150px
  .toolbar
    &[data-toolbarstate="alert"]
      height 70px
    &[data-toolbarstate="pending"]
      height 134px
    &[data-toolbarstate="waiting"]
      height 150px
    &[data-toolbarstate="complete"]
      height 150px

//iPhone Support
@media only screen and (max-device-width: 480px), only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2)
  .notImplemented
  .upgradeRequired
    position(absolute,0,0,0,0)
  .notice
    max-width 300px
    .title
      font-size 12px
  #compareYield
    .paneScroll
      top 0

  .content
    top 0
    margin 7px
    padding 0
    overflow visible
    position(absolute,0,0,0,0)

  .toolbar
    position relative
    &[data-toolbarstate="alert"]
      height 55px
    &[data-toolbarstate="pending"]
      height 134px
    &[data-toolbarstate="waiting"]
      height 150px
    &[data-toolbarstate="complete"]
      height 150px

.pane
  background white()
  border 1px solid gray()
  border-radius borderRadius
  position relative
  margin-bottom 10px
  clear both
  float left
  width 100%
  &.notifications
    max-width 300px
  .tile
    position relative
    min-height 200px
    .notImplemented
      border-radius 0 0 borderRadius borderRadius
      top 0
      right 0
      bottom 0
      left 0
  .expanding
    border none
    background transparent
    width 100%
  &.coverContent
    &:before
      content ""
      position absolute
      top -10px
      right 0
      left 0
      height 10px
      width 100%
      pointer-events none
  &:after
    content ""
    position absolute
    right 0
    bottom -10px
    left 0
    height 10px
    width 100%
    pointer-events none
  .subheader
    background offWhite()
    border-top 1px solid gray()
    border-bottom 1px solid gray()
    padding 10px
    float left
    width 100%
    margin-bottom 10px
    .progress
      margin-right 0
      margin-bottom 0
      margin-left 0
      background white()
    .label
      margin-bottom 5px
      font-size 12px
      float left
      clear left
      font-weight bold
      &:last-of-type
        margin-bottom 0
      .span
        font-weight normal
        margin-left 5px
  .list
    .listLink
      padding 0
      &.download
        padding-left 30px
        .iconWrapper
          &.left
            left 0
    .listCheckbox
      margin-top -9px
  .title
    .titleInput
      background transparent
      border none
    .subtitle
      margin-bottom 0
      padding 0
    .form
      position absolute
      top 10px
      right 36px
      .select
        margin 0
  .footer
    border-top 1px solid gray()
    clear both
    min-height 31px
    background offWhite()
    border-radius 0 0 borderRadius borderRadius
    position relative
    overflow hidden
    .button
      border-radius 0 0 borderRadius borderRadius
      background orange(0.75)
      border none
      margin 0
      &.left
        width 50%
        border-radius 0 0 0 borderRadius
        float left
        clear none
      &.right
        width 50%
        border-radius 0 0 borderRadius 0
        float left
        clear none
    .form
      .label
        padding-left 0
        border none
    .message
      padding-top 5px
  .paneScroll
    overflow auto
    padding-left 10px
    padding-right 10px
    position relative
  .message
    padding 10px
    padding-top 0
    font-style italic
    font-size 12px
    color offGray()
  .table
    background gray(0.2)
    border 1px solid gray()
    position relative
    border-radius borderRadius
    margin-bottom 10px
    &:after
      content ""
      position absolute
      background transparent
      top 0
      right -10px
      bottom 0
      width 10px
    .thead
      .tr
        .td
          &:first-of-type
            border-radius borderRadius 0 0 0
          &:last-of-type
            border-radius 0 borderRadius 0 0
    .tfoot
      .tr
        .td
          &:first-of-type
            border-radius 0 0 0 borderRadius
          &:last-of-type
            border-radius 0 0 borderRadius 0

  .progress
    margin 0 10px 10px 10px
